*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 16px;
    min-width: 320px;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    opacity: 1;
    visibility: visible;
}
p {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: Open Sans,sans-serif;
    font-size: 15px;
    color: #585858;
}

img, iframe, embed {
    vertical-align: middle;
}