#skin-container li{
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 25px;
    margin: 0 2px 3px 0;
    overflow: hidden;
    position: relative;
    transition: all .3s linear 0s;
    width: 60px;
}
#skin-container .selected{
    border: 2px solid #ffffff;
}

.skin1,.skin1a::after{
    background: #f97c46;
}
nav .nav1 .skin1-font,#mobile-menu #top-menu .skin1-font,.skin1-font{
    border-color: #f97c46;
}
.skin2,.skin2a::after{
    background: #7877c1;
}
nav .nav1 .skin2-font,#mobile-menu #top-menu .skin2-font,.skin2-font{
    color: #7877c1;
}
.skin3,.skin3a::after{
    background: #c472d6;
}
nav .nav1 .skin3-font,#mobile-menu #top-menu .skin3-font,.skin3-font{
    color: #c472d6;
}
.skin4,.skin4a::after{
    background: #ff5454;
}
nav .nav1 .skin4-font,#mobile-menu #top-menu .skin4-font,.skin4-font{
    color: #ff5454;
}
.skin5,.skin5a::after{
    background: #f63145;
}
nav .nav1 .skin5-font,#mobile-menu #top-menu .skin5-font,.skin5-font{
    color: #f63145;
}
.skin6,.skin6a::after{
    background: #f1c40f;
}
nav .nav1 .skin6-font,#mobile-menu #top-menu .skin6-font,.skin6-font{
    color: #f1c40f;
}
.skin7,.skin7a::after{
    background: #feb500;
}
nav .nav1 .skin7-font,#mobile-menu #top-menu .skin7-font,.skin7-font{
    color: #feb500;
}
.skin8,.skin8a::after{
    background: #73ae20;
}
nav .nav1 .skin8-font,#mobile-menu #top-menu .skin8-font,.skin8-font{
    color: #73ae20;
}
.skin9,.skin9a::after{
    background: #8eda5c;
}
nav .nav1 .skin9-font,#mobile-menu #top-menu .skin9-font,.skin9-font{
    color: #8eda5c;
}
.skin10,.skin10a::after{
    background: #2ecc71;
}
nav .nav1 .skin10-font,#mobile-menu #top-menu .skin10-font,.skin10-font{
    color: #2ecc71;
}
.skin11,.skin11a::after{
    background: #3ba5e3;
}
nav .nav1 .skin11-font,#mobile-menu #top-menu .skin11-font,.skin11-font{
    border-color:#3ba5e3;

}
.skin12,.skin12a::after{
    background: #c69c6d;
}
nav .nav1 .skin12-font,#mobile-menu #top-menu .skin12-font,.skin12-font{
    color: #c69c6d;
}